
.ingrediant-item{
    text-decoration: dotted;
    background-color: deeppink;
    font-size:medium;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:relative;
    left:400px;
    top:45px;
 
 
  
 }
 body{
    background-color:gray;
 }
 h1{
 background-color: aquamarine;
 text-align: center;
 }
 
 
 .instructions{
    border: dotted lightblue 10px;
    position: relative;
    top:150px;
    background-color: white;
 }
 img{
    position: relative;
    left:50px;
    bottom:400px;
    border-radius: 20%;
 
 
 }
 video{
    position: relative;
    bottom: 55px;
    left:100px;
  
 
 
 }
 .image1{
    position: relative;
    left:950px;
 }
 .image2{
    position: relative;
        right:20px;
 }
 .history{
    background-color: white;
    border: dotted lightblue 7px;
    position: relative;
    left:470px;
   
 }
 .tips{
   color: white;
   font-weight: 900;
   position:relative;
   bottom: 50px;
   background-color: fuchsia;
 
 
 }
 footer{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}